<div class="title-row">
  <h2 class="title">Inventories</h2>
  <div class="search">
    <div>
      <app-search [placeholder]="'Search'" [value]="filter.searchString"
                  (searchString)="onSearch($event)"></app-search>
    </div>
    <button mat-button mat-raised-button class="mat-primary" routerLink="add">Add New</button>
  </div>
</div>
<h5 class="information">
  <span class="note">Note:</span>
  (Search, sort, pagination, delete, edit, add features are implemented,
  but data will be not reflected because application is point to postman's mock API's)
</h5>
<div class="mat-elevation-z8">
  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>
  <table [dataSource]="dataSource" aria-describedby="" mat-table matSort [matSortActive]="filter.sortBy"
         matSortDirection="{{filter.orderBy}}" (matSortChange)="onSortChange($event)">
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header scope="row">Name</th>
      <td *matCellDef="let element" mat-cell>{{element['name']}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th *matHeaderCellDef mat-header-cell scope="row">Description</th>
      <td *matCellDef="let element" mat-cell>{{element['description']}}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th *matHeaderCellDef mat-header-cell mat-sort-header scope="row">Price</th>
      <td *matCellDef="let element" mat-cell>${{element['price']}}</td>
    </ng-container>
    <ng-container matColumnDef="menu">
      <th *matHeaderCellDef mat-header-cell mat-sort-header scope="row"></th>
      <td *matCellDef="let element; let i = index" mat-cell class="text-right">
        <button mat-button [matMenuTriggerFor]="menu">
          <img src="assets/img/kebab-vertical.svg" alt="Menu">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onMenuAction(valuesConstant.actions.edit, i)">
            {{valuesConstant.actions.edit}}
          </button>
          <button mat-menu-item (click)="onMenuAction(valuesConstant.actions.delete, i)">
            {{valuesConstant.actions.delete}}
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="valuesConstant.inventoryColumns; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let row; columns: valuesConstant.inventoryColumns;" mat-row></tr>
  </table>
  <mat-paginator *ngIf="listWrapper?.inventories?.length"
                 (page)="onPageChange($event)"
                 [length]="listWrapper.total"
                 [pageIndex]="filter.pageNumber - 1"
                 [pageSizeOptions]="valuesConstant.pageSize"
                 [disabled]="isLoading"
                 [pageSize]="filter.pageSize">
  </mat-paginator>
</div>
