.go-back-icon {
  cursor: pointer !important;
}

.title-row {
  display: flex;

  .title {
    margin-bottom: 0;
    margin-left: 16px;
  }
}

.inventory-form {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  justify-content: center;

  .mat-form-field {
    width: 350px;
  }
}
